/*    my override styles here -  because i'm better than them!    */
body{
    padding-top: 60px;
}
.bold{
    font-weight: bold;
}

.red{
    color: red;
}
.inline{
    display: inline;
}

.left{
    text-align: left;
}
.center{
    text-align: center;
}

td.right{
    text-align: right;
}

.form-horizontal .controls {
    margin-left: 0;
}

.form-horizontal .control-group,
.control-group{
    margin-bottom: 0;
}
